* {
  /* outline: 1px solid red; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters, 
.MuiPickersDay-daySelected,
.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiToolbar-gutters,
.MuiPickersClock-pin,
.MuiPickersClockPointer-pointer.MuiPickersClockPointer-animateTransform,
.MuiPickersClockPointer-noPoint,
.MuiPickersClockPointer-pointer
 {
  background-color: #c79600 !important;
  color: black !important;
}

.MuiTypography-root.MuiPickersToolbarText-toolbarTxt {
  color: black
}

.MuiPickersClockPointer-thumb {
  border-color: #c79600 !important;

}

.MuiFormLabel-root.Mui-focused {
  color: #c79600 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #c79600 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #c79600 !important;

}